<footer>
  <div class="card text-center">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">A Footer</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam fuga,
        ea veritatis officia ipsum sed ducimus unde neque temporibus magnam
        velit optio quod esse odit explicabo, non doloribus adipisci quaerat
        placeat! Itaque fuga sit, non, aut sed totam ipsam voluptatum molestias
        incidunt quos amet consequatur fugit laborum est consectetur asperiores,
        tempora sint. Ut mollitia dolores officia, quam tempore eos, ducimus,
        quos laboriosam vero ipsam dolorem assumenda quaerat culpa amet libero
        suscipit rerum perspiciatis iste aut consequuntur esse maiores.
        Consequatur nobis quaerat nisi. Nobis, nemo? Cum atque mollitia odit
        magnam sed. Labore similique ipsa possimus fugit sunt consequuntur, ad a
        voluptatum.
      </p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    <div class="card-footer text-muted">Hasin Sadab Khan</div>
  </div>
</footer>
